### Pandas

In [3]:
import pandas as pd
import os

In [4]:
file_path = os.path.dirname(os.path.dirname(os.getcwd()))+"\\EDA\\Data\\Play_Tennis.csv"
file_path

'c:\\Users\\rakes\\Local\\Git_Repo\\PythonCodeHub\\EDA\\Data\\Play_Tennis.csv'

In [5]:
# Load Data
df = pd.read_csv(file_path)

print(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Day            14 non-null     object
 1   Outlook        14 non-null     object
 2   Temprature     14 non-null     object
 3   Humidity       14 non-null     object
 4   Wind           14 non-null     object
 5   Play_Tennis    14 non-null     object
 6   No_of_Players  14 non-null     int64
 7   Ticket_Price   14 non-null     float64
 8   DateTime       14 non-null     object
 9   EndDateTime    14 non-null     object
 10  IceCreamCost   14 non-null     float64
dtypes: float64(2), int64(1), object(8)
memory usage: 1.3+ KB
None

,Day,Outlook,Temprature,Humidity,Wind,Play_Tennis,No_of_Players,Ticket_Price,DateTime,EndDateTime,IceCreamCost
0,D1,Sunny,Hot,High,Weak,No,6,10.60,2023-01-01 01:10:10,2023-01-01 03:10:10,0.2
1,D2,Sunny,Hot,High,Strong,No,10,12.30,2023-01-02 02:30:10,2023-01-02 04:30:10,0.4
2,D3,Overcast,Hot,High,Weak,Yes,28,20.60,2023-01-03 03:53:10,2023-01-03 05:53:10,1.0
3,D4,Rain,Mild,High,Weak,Yes,45,40.30,2023-01-04 01:08:22,2023-01-04 03:08:22,1.4
4,D5,Rain,Cool,Normal,Weak,Yes,56,60.60,2023-01-05 05:10:14,2023-01-05 07:10:14,1.6
5,D6,Rain,Cool,Normal,Strong,No,8,8.20,2023-01-06 08:22:10,2023-01-06 10:22:10,0.3
6,D7,Overcast,Cool,Normal,Strong,Yes,56,60.23,2023-01-06 14:25:18,2023-01-06 16:25:18,1.7
7,D8,Sunny,Mild,High,Weak,No,12,5.23,2023-01-07 20:10:10,2023-01-07 22:10:10,0.5
8,D9,Sunny,Cool,Normal,Weak,Yes,23,20.56,2023-01-08 02:35:22,2023-01-08 05:35:22,0.7
9,D10,Rain,Mild,Normal,Weak,Yes,56,60.23,2023-01-09 10:10:20,2023-01-09 12:10:20,1.8
10,D11,Sunny,Mild,Normal,Strong,Yes,12,8.75,2023-01-10 16:12:24,2023-01-10 18:12:24,0.6
11,D12,Overcast,Mild,High,Strong,Yes,67,60.23,2023-01-11 20:10:28,2023-01-11 23:10:28,2.0
12,D13,Overcast,Hot,Normal,Weak,Yes,45,38.55,2023-01-12 21:47:10,2023-01-12 22:47:10,1.4
13,D14,Rain,Mild,High,Strong,No,2,1.12,2023-01-13 13:10:13,2023-01-13 14:10:13,0.2

In [6]:
# Filter & Select Columns
df_temp = df[df["Day"].isin(["D1", "D2"])][["Day","Play_Tennis"]]
print(df_temp)

# Group by Mean
df_temp = df.groupby(["Outlook"])["Ticket_Price"].mean()
df_temp

  Day Play_Tennis
0  D1          No
1  D2          No

Outlook
Overcast    44.9025
Rain        34.0900
Sunny       11.4880
Name: Ticket_Price, dtype: float64

<!--  -->

### Polars

In [7]:
import polars as pl
import pyarrow as pa
import pyarrow.parquet as pq

In [8]:
df = pl.read_csv(file_path)
df

shape: (14, 11)
┌─────┬──────────┬────────────┬──────────┬───┬─────────────┬─────────────┬────────────┬────────────┐
│ Day ┆ Outlook  ┆ Temprature ┆ Humidity ┆ … ┆ Ticket_Pric ┆ DateTime    ┆ EndDateTim ┆ IceCreamCo │
│ --- ┆ ---      ┆ ---        ┆ ---      ┆   ┆ e           ┆ ---         ┆ e          ┆ st         │
│ str ┆ str      ┆ str        ┆ str      ┆   ┆ ---         ┆ str         ┆ ---        ┆ ---        │
│     ┆          ┆            ┆          ┆   ┆ f64         ┆             ┆ str        ┆ f64        │
╞═════╪══════════╪════════════╪══════════╪═══╪═════════════╪═════════════╪════════════╪════════════╡
│ D1  ┆ Sunny    ┆ Hot        ┆ High     ┆ … ┆ 10.6        ┆ 2023-01-01  ┆ 2023-01-01 ┆ 0.2        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 01:10:10    ┆ 03:10:10   ┆            │
│ D2  ┆ Sunny    ┆ Hot        ┆ High     ┆ … ┆ 12.3        ┆ 2023-01-02  ┆ 2023-01-02 ┆ 0.4        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 02:30:10    ┆ 04:30:10   ┆            │
│ D3  ┆ Overcast ┆ Hot        ┆ High     ┆ … ┆ 20.6        ┆ 2023-01-03  ┆ 2023-01-03 ┆ 1.0        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 03:53:10    ┆ 05:53:10   ┆            │
│ D4  ┆ Rain     ┆ Mild       ┆ High     ┆ … ┆ 40.3        ┆ 2023-01-04  ┆ 2023-01-04 ┆ 1.4        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 01:08:22    ┆ 03:08:22   ┆            │
│ D5  ┆ Rain     ┆ Cool       ┆ Normal   ┆ … ┆ 60.6        ┆ 2023-01-05  ┆ 2023-01-05 ┆ 1.6        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 05:10:14    ┆ 07:10:14   ┆            │
│ …   ┆ …        ┆ …          ┆ …        ┆ … ┆ …           ┆ …           ┆ …          ┆ …          │
│ D10 ┆ Rain     ┆ Mild       ┆ Normal   ┆ … ┆ 60.23       ┆ 2023-01-09  ┆ 2023-01-09 ┆ 1.8        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 10:10:20    ┆ 12:10:20   ┆            │
│ D11 ┆ Sunny    ┆ Mild       ┆ Normal   ┆ … ┆ 8.75        ┆ 2023-01-10  ┆ 2023-01-10 ┆ 0.6        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 16:12:24    ┆ 18:12:24   ┆            │
│ D12 ┆ Overcast ┆ Mild       ┆ High     ┆ … ┆ 60.23       ┆ 2023-01-11  ┆ 2023-01-11 ┆ 2.0        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 20:10:28    ┆ 23:10:28   ┆            │
│ D13 ┆ Overcast ┆ Hot        ┆ Normal   ┆ … ┆ 38.55       ┆ 2023-01-12  ┆ 2023-01-12 ┆ 1.4        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 21:47:10    ┆ 22:47:10   ┆            │
│ D14 ┆ Rain     ┆ Mild       ┆ High     ┆ … ┆ 1.12        ┆ 2023-01-13  ┆ 2023-01-13 ┆ 0.2        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 13:10:13    ┆ 14:10:13   ┆            │
└─────┴──────────┴────────────┴──────────┴───┴─────────────┴─────────────┴────────────┴────────────┘

In [9]:
# Filter
df_temp = df.filter(pl.col("Day") == "D1").select([pl.col("Day"), pl.col("Play_Tennis")])
print(df_temp)

# Group by
# df_temp = df.groupby("Outlook").mean()["Ticket_Price"]
df_temp = df.groupby("Outlook").agg(pl.col("Ticket_Price").mean())
df_temp

shape: (1, 2)
┌─────┬─────────────┐
│ Day ┆ Play_Tennis │
│ --- ┆ ---         │
│ str ┆ str         │
╞═════╪═════════════╡
│ D1  ┆ No          │
└─────┴─────────────┘

C:\Users\rakes\AppData\Local\Temp\ipykernel_3964\4274585.py:7: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  df_temp = df.groupby("Outlook").agg(pl.col("Ticket_Price").mean())

shape: (3, 2)
┌──────────┬──────────────┐
│ Outlook  ┆ Ticket_Price │
│ ---      ┆ ---          │
│ str      ┆ f64          │
╞══════════╪══════════════╡
│ Sunny    ┆ 11.488       │
│ Rain     ┆ 34.09        │
│ Overcast ┆ 44.9025      │
└──────────┴──────────────┘

<!--  -->

### Convert Polars to Pandas Data Frame: [Using Backend Arrow Data Format]

In [11]:
# Convert the Polars DataFrame to an Arrow Table
arrow_table = df.to_arrow()
# Convert the Arrow Table to a Pandas DataFrame
df_pandas = arrow_table.to_pandas()

print(df_pandas.info())
df_temp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Day            14 non-null     object
 1   Outlook        14 non-null     object
 2   Temprature     14 non-null     object
 3   Humidity       14 non-null     object
 4   Wind           14 non-null     object
 5   Play_Tennis    14 non-null     object
 6   No_of_Players  14 non-null     int64
 7   Ticket_Price   14 non-null     float64
 8   DateTime       14 non-null     object
 9   EndDateTime    14 non-null     object
 10  IceCreamCost   14 non-null     float64
dtypes: float64(2), int64(1), object(8)
memory usage: 1.3+ KB
None

shape: (3, 2)
┌──────────┬──────────────┐
│ Outlook  ┆ Ticket_Price │
│ ---      ┆ ---          │
│ str      ┆ f64          │
╞══════════╪══════════════╡
│ Sunny    ┆ 11.488       │
│ Rain     ┆ 34.09        │
│ Overcast ┆ 44.9025      │
└──────────┴──────────────┘

<!--  -->

### Convert Pandas to Polars Data Frame: [Using Backend Arrow Data Format]

In [15]:
# Convert the Pandas DataFrame to an Arrow Table
arrow_table = pa.Table.from_pandas(df_pandas)

# Convert the Arrow Table to a Polars DataFrame
df_polars = pl.from_arrow(arrow_table)

df_polars

shape: (14, 11)
┌─────┬──────────┬────────────┬──────────┬───┬─────────────┬─────────────┬────────────┬────────────┐
│ Day ┆ Outlook  ┆ Temprature ┆ Humidity ┆ … ┆ Ticket_Pric ┆ DateTime    ┆ EndDateTim ┆ IceCreamCo │
│ --- ┆ ---      ┆ ---        ┆ ---      ┆   ┆ e           ┆ ---         ┆ e          ┆ st         │
│ str ┆ str      ┆ str        ┆ str      ┆   ┆ ---         ┆ str         ┆ ---        ┆ ---        │
│     ┆          ┆            ┆          ┆   ┆ f64         ┆             ┆ str        ┆ f64        │
╞═════╪══════════╪════════════╪══════════╪═══╪═════════════╪═════════════╪════════════╪════════════╡
│ D1  ┆ Sunny    ┆ Hot        ┆ High     ┆ … ┆ 10.6        ┆ 2023-01-01  ┆ 2023-01-01 ┆ 0.2        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 01:10:10    ┆ 03:10:10   ┆            │
│ D2  ┆ Sunny    ┆ Hot        ┆ High     ┆ … ┆ 12.3        ┆ 2023-01-02  ┆ 2023-01-02 ┆ 0.4        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 02:30:10    ┆ 04:30:10   ┆            │
│ D3  ┆ Overcast ┆ Hot        ┆ High     ┆ … ┆ 20.6        ┆ 2023-01-03  ┆ 2023-01-03 ┆ 1.0        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 03:53:10    ┆ 05:53:10   ┆            │
│ D4  ┆ Rain     ┆ Mild       ┆ High     ┆ … ┆ 40.3        ┆ 2023-01-04  ┆ 2023-01-04 ┆ 1.4        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 01:08:22    ┆ 03:08:22   ┆            │
│ D5  ┆ Rain     ┆ Cool       ┆ Normal   ┆ … ┆ 60.6        ┆ 2023-01-05  ┆ 2023-01-05 ┆ 1.6        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 05:10:14    ┆ 07:10:14   ┆            │
│ …   ┆ …        ┆ …          ┆ …        ┆ … ┆ …           ┆ …           ┆ …          ┆ …          │
│ D10 ┆ Rain     ┆ Mild       ┆ Normal   ┆ … ┆ 60.23       ┆ 2023-01-09  ┆ 2023-01-09 ┆ 1.8        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 10:10:20    ┆ 12:10:20   ┆            │
│ D11 ┆ Sunny    ┆ Mild       ┆ Normal   ┆ … ┆ 8.75        ┆ 2023-01-10  ┆ 2023-01-10 ┆ 0.6        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 16:12:24    ┆ 18:12:24   ┆            │
│ D12 ┆ Overcast ┆ Mild       ┆ High     ┆ … ┆ 60.23       ┆ 2023-01-11  ┆ 2023-01-11 ┆ 2.0        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 20:10:28    ┆ 23:10:28   ┆            │
│ D13 ┆ Overcast ┆ Hot        ┆ Normal   ┆ … ┆ 38.55       ┆ 2023-01-12  ┆ 2023-01-12 ┆ 1.4        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 21:47:10    ┆ 22:47:10   ┆            │
│ D14 ┆ Rain     ┆ Mild       ┆ High     ┆ … ┆ 1.12        ┆ 2023-01-13  ┆ 2023-01-13 ┆ 0.2        │
│     ┆          ┆            ┆          ┆   ┆             ┆ 13:10:13    ┆ 14:10:13   ┆            │
└─────┴──────────┴────────────┴──────────┴───┴─────────────┴─────────────┴────────────┴────────────┘